.columns.btn-group
  %button{ :class => 'columns btn disabled' } Columns
  %button{ :class => 'columns btn', :name => 1, :value => 1 } 1
  %button{ :class => 'columns btn', :name => 2, :value => 2 } 2
  %button{ :class => 'columns btn active', :name => 3, :value => 3 } 3
  %button{ :class => 'columns btn', :name => 4, :value => 4 } 4
