.interval.btn-group
  %button{ :class => 'btn dropdown-toggle', :'data-toggle' => 'dropdown'}
    Interval - 
    %span.current_value
    %span.caret
  %ul{ :class => 'dropdown-menu' }
    %li
      %a{ :href => '#', :name => '15min' } 15 minutes
    %li
      %a{ :href => '#', :name => '30min' } 30 minutes
    %li
      %a{ :href => '#', :name => '1h' } 1 hour
    %li
      %a{ :href => '#', :name => '3h' } 3 hours
    %li
      %a{ :href => '#', :name => '6h' } 6 hours
    %li
      %a{ :href => '#', :name => '24h' } 1 day
    %li
      %a{ :href => '#', :name => '1w' } 1 week
    %li
      %a{ :href => '#', :name => '4w' } 1 month
    %li
      %a{ :href => '#', :name => '3mon' } 3 months
    %li
      %a{ :href => '#', :name => '6mon' } 6 months
    %li
      %a{ :href => '#', :name => '1y' } 1 year
