.sort.btn-group
  %button{ :class => 'sort btn disabled' } Sort
  %button{ :class => 'sort btn active remove', :name => 1, :value => 1, :title => 'None' } 
    %i.icon-remove-sign
  %button{ :class => 'sort btn arrow-down', :name => 2, :value => 2, :title => 'A->Z' } 
    %i.icon-arrow-down
  %button{ :class => 'sort btn arrow-up', :name => 3, :value => 3, :title => 'Z->A' } 
    %i.icon-arrow-up
