.header
  %h1 Graphs
  %form{ :class => "search", :action => "" }
    %i.reset-search.icon-remove-circle
    %input{ :class => "search-query span2", :type => "text", :name => "tags", :placeholder => "Search graphs" }
.well
  %a{ :class => "import btn", :"data-toggle" => "collapse", :"data-target" => "#import_form", :href => "#" } Import Graphs
  %a{ :class => "dashboard btn", :"data-toggle" => "collapse", :"data-target" => "#dashboard_form", :href => "#" } Add to Dashboard
  .tools.btn-group
    %button{ :class => "tools btn reset", :title => "reset view" }
      %i.icon-fire
    %button{ :class => "tools btn refresh", :title => "refresh graphs" }
      %i.icon-refresh
    %a{ :class => "tools btn trash", :"data-toggle" => "collapse", :"data-target" => "#destroy_form", :href => "#" }
      %i.icon-trash
  = haml :"common/_columns"
  = haml :"common/_interval"
  = haml :"common/_sort"
.accordion-group
  / Form for deleting graphs
  %fieldset#destroy_form{ :class => "collapse" }
    #destroy_warning.span9.offset1
      %ul.span8
        %li.span4.offset1
          %span
            You have enabled a destructive mode. Click to select any graphs you wish to delete, then click the button to the right.
        %li.span2
          %button{ :class => "destroy_submit btn btn-danger btn-large" } Delete Graphs
  / Forms for importing graphs from saved / by url
  %fieldset#import_form{ :class => "collapse" }
    %form{ :id => "graph_select", :method => "post", :action => "/graphs" }
      %ul
        %li
          %select{ :id => "node", :name => "node[]", :multiple => "multiple" }
        %li
          %button{ :class => "import_submit btn btn-primary", :name => "submit", :type => "submit" } Import Saved Graphs
    %form{ :id => "graph_url", :method => "post", :action => "/graphs" }
      %ul
        %li
          %button{ :class => "import_submit btn btn-primary", :name => "submit", :type => "submit" } Import from URL
        %li
          %input{ :class => "graph_url span3", :id => "node", :name => "node[]", :placeholder => "Graph URL" }
  / Forms for creating / adding-to dashboards
  %fieldset#dashboard_form{ :class => "collapse" }
    #dashboard_select
      %ul
        %li
          %select{ :id => "dashboard_select", :name => "dashboard_select" }
        %li
          %button{ :class => "dashboard_submit btn btn-primary" } Add to Selected Dashboard
    #dashboard_new
      %form{ :id => "dashboard_new", :method => "post", :action => "/dashboards" }
        %ul
          %li
            %input{ :class => "dashboard_name span3", :id => "name", :name => "name", :placeholder => "Dashboard Name" }
          %li
            %button{ :class => "dashboard_submit btn btn-primary", :name => "submit", :type => "submit" } Create Dashboard
.graphs
%script{ :type => "text/javascript", :src => "/js/render-graph.js" }
%script{ :type => "text/javascript", :src => "/js/render-common.js" }
