.header
  %h1.locked= graph[:name]
  /%span.info Created by <span class="owner">#{graph[:owner]}</span> on #{graph[:created_at]}
.well
  %a{ :class => "details btn closed", :"data-toggle" => "collapse", :"data-target" => "#details", :href => "#" } Details
  .tools.btn-group
    %button{ :class => "tools btn refresh", :title => "refresh graphs" }
      %i.icon-refresh
  .interval.btn-group
    %button{ :class => "interval btn disabled" } Interval
    %button{ :class => "interval btn active", :name => 1, :value => '1h' } 1h
    %button{ :class => "interval btn", :name => 2, :value => '3h' } 3h
    %button{ :class => "interval btn", :name => 3, :value => '6h' } 6h
    %button{ :class => "interval btn", :name => 4, :value => '24h' } 24h
.accordion-group
  %fieldset#details{ :class => "collapse" }
    .description-wrapper
      %label{ :for => "description" } Description:
      %span{ :class => "closed", :id => "description" }
    .tags-wrapper
      %label{ :for => "tags" } Tags:
      .tags
    .settings-wrapper
      /%label{ :for => "settings" } Advanced Settings:
      .settings
        .line_mode.btn-group
          %button{ :class => "line_mode btn disabled" } Line Mode
          %button{ :class => "line_mode btn active", :name => 1, :value => "slope" } slope
          %button{ :class => "line_mode btn", :name => 2, :value => "staircase" } staircase
          %button{ :class => "line_mode btn", :name => 3, :value => "connected" } connected
        .area_mode.btn-group
          %button{ :class => "area_mode btn disabled" } Area Mode
          %button{ :class => "area_mode btn active", :name => 1, :value => "off" } off
          %button{ :class => "area_mode btn", :name => 2, :value => "first" } first
          %button{ :class => "area_mode btn", :name => 3, :value => "all" } all
          %button{ :class => "area_mode btn", :name => 4, :value => "stacked" } stacked
        .log_mode.btn-group
          %button{ :class => "log_mode btn disabled" } Logarithmic Base
          %button{ :class => "log_mode btn active", :name => 1, :value => "off" } off
          %button{ :class => "log_mode btn", :name => 2, :value => "10" } 10
          %button{ :class => "log_mode btn", :name => 3, :value => "2" } 2
          %button{ :class => "log_mode btn", :name => 4, :value => "e" } e
        .null_mode.btn-group
          %button{ :class => "null_mode btn disabled" } Draw Nulls as Zeroes?
          %button{ :class => "null_mode btn", :name => 1, :value => "off" } off
          %button{ :class => "null_mode btn active", :name => 2, :value => "on" } on
.graphs
  .row
%script{ :type => "text/javascript", :src => "/js/profile-graph.js" }
%script{ :type => "text/javascript", :src => "/js/render-common.js" }
