.well
  %a{ :class => "import btn", :"data-toggle" => "collapse", :"data-target" => "#import_form", :href => "#" } Import Graphs
  %a{ :class => "dashboard btn", :"data-toggle" => "collapse", :"data-target" => "#dashboard_form", :href => "#" } New Dashboard
  .tools.btn-group
    %button{ :class => "tools btn fullscreen", :title => "toggle fullscreen" }
      %i.icon-fullscreen
    %button{ :class => "tools btn refresh", :title => "refresh graphs" }
      %i.icon-refresh
  .columns.btn-group
    %button{ :class => "columns btn disabled" } Columns
    %button{ :class => "columns btn", :name => 1, :value => 1 } 1
    %button{ :class => "columns btn", :name => 2, :value => 2 } 2
    %button{ :class => "columns btn active", :name => 3, :value => 3 } 3
    %button{ :class => "columns btn", :name => 4, :value => 4 } 4
  .interval.btn-group
    %button{ :class => "interval btn disabled" } Interval
    %button{ :class => "interval btn active", :name => 1, :value => '1h' } 1h
    %button{ :class => "interval btn", :name => 2, :value => '3h' } 3h
    %button{ :class => "interval btn", :name => 3, :value => '6h' } 6h
    %button{ :class => "interval btn", :name => 4, :value => '24h' } 24h
.accordion-group
  %fieldset#import_form{ :class => "collapse" }
    %form{ :method => "post", :action => "/graphs" }
      %ul
        %li
          %select{ :id => "node", :name => "node[]", :multiple => "multiple" }
        %li
          %button{ :class => "import_submit btn btn-primary", :name => "submit", :type => "submit" } Import Saved Graphs
.accordion-group
  %fieldset#dashboard_form{ :class => "collapse" }
    %form{ :method => "post", :action => "/dashboards" }
      %ul
        %li
          %input{ :class => "dashboard_name span3", :id => "name", :name => "name", :placeholder => "Dashboard Name" }
        %li
          %button{ :class => "dashboard_submit btn btn-primary", :name => "submit", :type => "submit" } Create Dashboard
    .help-block
      %span.help-inline create dashboard from current view
.graphs
%script{ :type => "text/javascript", :src => "/js/graph-import.js" }
%script{ :type => "text/javascript", :src => "/js/graph-render.js" }
