.well
  %a{ :class => "import btn", :"data-toggle" => "collapse", :"data-target" => "#import_form", :href => "#" } Add Graphs
.accordion-group
  %fieldset#import_form{ :class => "collapse" }
    %form{ :method => "post", :action => "/graphs" }
      %ul
        %li
          %select{ :id => "node", :name => "node[]", :multiple => "multiple" }
        %li
          %button{ :class => "import_submit btn btn-primary", :name => "submit", :type => "submit" } Import Saved Graph
.row
  - @graphs.each do |g| 
    .graph.span4
      %label{ :for => g.uuid } #{g.name}
      %img{ :src => g.url, :alt => g.name, :name => g.uuid }