!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title Descartes
    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=utf-8" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/bootstrap.min.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css" }
    %script{ :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "/js/bootstrap.min.js" }
    %script{ :type => "text/javascript", :src => "/js/jquery.url.js" }
    %script{ :type => "text/javascript", :src => "/js/jquery.fullscreen-min.js" }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href => "/" } Descartes
          %ul.nav
            %li.home.active
              %a{ :href => "/" } Home
            %li.graphs
              %a{ :href => "/graphs"} Graphs
            %li.dashboards
              %a{ :href => "/dashboards"} Dashboards
          %form{ :class => "navbar-search pull-left", :action => "" }
            %i.reset-search.icon-remove-circle.icon-white
            %input{ :class => "search-query span2", :type => "text", :name => "tags", :placeholder => "Search tags" }


    .container
      // Highlight current active tab
      :javascript
        $(document).ready(function() {
          $('.active').removeClass('active');
          var path = location.pathname.split("/")[1] || 'home';
          $('li.' + path).addClass('active');
        });
        var graphiteUrl = "#{ENV['GRAPHITE_URL']}";
        var graphiteAuth = "#{ENV['GRAPHITE_AUTH']}";

      =yield


