.header
  %h1 Metrics
.well
  %a{ :class => "metrics_graph btn closed", :"data-toggle" => "collapse", :"data-target" => "#metrics_graph_form", :href => "#" } Add to Graph
  .tools.btn-group
    %button{ :class => "tools btn refresh", :title => "refresh metrics" }
      %i.icon-refresh
  .interval.btn-group
    %button{ :class => "interval btn disabled" } Interval
    %button{ :class => "interval btn active", :name => 1, :value => '1h' } 1h
    %button{ :class => "interval btn", :name => 2, :value => '3h' } 3h
    %button{ :class => "interval btn", :name => 3, :value => '6h' } 6h
    %button{ :class => "interval btn", :name => 4, :value => '24h' } 24h
.accordion-group
  / Form for adding metrics to an existing (or new) graph
  %fieldset#metrics_graph_form{ :class => "collapse" }
    #metrics_graph_select
      %ul
        //%li
        //  %select{ :class => "span3", :id => "metrics_graph_select", :name => "metrics_graph_select" }
        //    %option{ :value => "_new" } New Graph
        %li
          %label{ :for => "new-graph-name" }
          %input{ :class => "new-graph-name span3", :type => "text", :disabled => true, :placeholder => "New graph name" }
        %li
          %button{ :class => "metrics_graph_submit btn btn-primary disabled" } Save Graph
      %ul.search-ahead
        %li
          %label{ :for => "search-ahead" } Filter metrics:
          %input{ :class => "search-ahead span4", :type => "text", :placeholder => "Enter search term" }
    %span.graph#metrics_graph_preview.span7
.metrics
.loading.hidden
  %span
    Loading
%script{ :type => "text/javascript", :src => "/js/list-metrics.js" }
%script{ :type => "text/javascript", :src => "/js/render-common.js" }
