.header
  %h1.locked= dashboard[:name]
  /%span.info Created by <span class="owner">#{dashboard[:owner]}</span> on #{dashboard[:created_at]}
  %form{ :class => "search pull-left", :action => "" }
    %i.reset-search.icon-remove-circle
    %input{ :class => "search-query span2", :type => "text", :name => "tags", :placeholder => "Search tags" }
.well
  .tools.btn-group
    %button{ :class => "tools btn refresh", :title => "refresh graphs" }
      %i.icon-refresh
    %a{ :class => "tools btn trash", :"data-toggle" => "collapse", :"data-target" => "#destroy_form", :href => "#" }
      %i.icon-trash
  .columns.btn-group
    %button{ :class => "columns btn disabled" } Columns
    %button{ :class => "columns btn", :name => 1, :value => 1 } 1
    %button{ :class => "columns btn", :name => 2, :value => 2 } 2
    %button{ :class => "columns btn active", :name => 3, :value => 3 } 3
    %button{ :class => "columns btn", :name => 4, :value => 4 } 4
  .interval.btn-group
    %button{ :class => "interval btn disabled" } Interval
    %button{ :class => "interval btn active", :name => 1, :value => '1h' } 1h
    %button{ :class => "interval btn", :name => 2, :value => '3h' } 3h
    %button{ :class => "interval btn", :name => 3, :value => '6h' } 6h
    %button{ :class => "interval btn", :name => 4, :value => '24h' } 24h
.accordion-group
  / Form for deleting graphs
  %fieldset#destroy_form{ :class => "collapse" }
    #destroy_warning.span9.offset1
      %ul.span8
        %li.span4.offset1
          %span
            You have enabled a destructive mode. Click to select any graphs you wish to delete, then click the button to the right.
        %li.span2
          %button{ :class => "destroy_submit btn btn-danger btn-large" } Delete Graphs
          .destroy_all
            %label{ :class => "checkbox", :for => "destroy_all" }
              Entire Dashboard
              %input{ :type => "checkbox", :name => "destroy_all" }
.graphs
%script{ :type => "text/javascript", :src => "/js/render-dashboard.js" }
%script{ :type => "text/javascript", :src => "/js/render-common.js" }
